@import 'tailwindcss';

@theme {
  --spacing: 1px;
  --color-jbn-light-yellow: #fef8e0;
  --color-jbn-dark-green: #006738;
  --color-jbn-dark-brown: #874f01;
  --color-jbn-light-orange: #ffd273;
  --color-jbn-dark-red: #982a2b;
  --color-jbn-light-green: #c1ddb4;

  --color-jbn-ginfizz-50: #fef8e0;
  --color-jbn-ginfizz-200: #ffe489;

  --color-jbn-jewel-900: #006738;
  --color-jbn-jewel-950: #003b21;

  --color-jbn-golden-400: #ffa620;

  --color-jbn-sprout-950: #15240f;
  --color-jbn-sprout-200: #d4e8ca;

  --color-text-dark: var(--color-jbn-jewel-900);
  --color-text-light: var(--color-jbn-ginfizz-50);

  --color-background-card: var(--color-jbn-sprout-200);
  --color-background-dark: var(--color-jbn-jewel-900);
  --color-background-light: var(--color-jbn-ginfizz-50);

  --color-hover-light: var(--color-jbn-ginfizz-200);
  --color-hover-dark: var(--color-jbn-jewel-950);

  --color-pressed-light: var(--color-jbn-golden-400);
  --color-pressed-dark: var(--color-jbn-sprout-950);

  --color-focus-light: var(--color-jbn-ginfizz-50);
  --color-focus-dark: var(--color-jbn-jewel-900);

  --font-jbn-margin: 'MarginFont', serif;
  --font-jbn-open-sans: 'Open Sans', sans-serif;
  --animate-fade-in-right: fade-in-right 0.6s ease-in forwards;
  --pattern-leaves: url('./assets/graphical/leaves_dark.svg');
}

:root {
  --button-primary-bg: var(--color-jbn-dark-green);
  --button-primary-color: var(--color-jbn-light-yellow);
  --button-secondary-bg: var(--color-white);
  --button-secondary-color: var(--color-jbn-dark-green);
  --button-secondary-bg-hover: var(--color-jbn-light-green);
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.stepper-step {
  position: relative;
  isolation: isolate;

  .stepper-step-indicator {
    &::after,
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 63px;
      height: 2px;
      background-color: var(--color-jbn-dark-green);
    }

    &::after {
      left: 50%;
      right: 0;
    }

    &::before {
      left: 0;
      right: 50%;
    }
  }

  &:first-of-type {
    .stepper-step-indicator::before {
      display: none;
    }
  }

  &:last-of-type {
    .stepper-step-indicator::after {
      display: none;
    }
  }
}

.content-grid {
  --padding-inline: 20px;
  --content-max-width: 1500px;

  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end]
    minmax(var(--padding-inline), 1fr) [full-end];
}

.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full;

  display: grid;
  grid-template-columns: inherit;
}

h1,
.text-h1 {
  font-family: var(--font-jbn-margin);
  font-variant-ligatures: none;
  font-size: 4rem;
  line-height: 3.125rem;
}

h2,
.text-h2 {
  font-family: var(--font-jbn-open-sans);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

h3,
.text-h3 {
  font-family: var(--font-jbn-open-sans);
  font-size: 1.5rem;
  line-height: auto;
  font-weight: 700;
}

h4,
.text-h4 {
  font-family: var(--font-jbn-open-sans);
  font-size: 1.25rem;
  line-height: auto;
  font-weight: 700;
}

p,
.paragraph {
  font-family: var(--font-jbn-open-sans);
  font-size: 1rem;
  line-height: auto;
  font-weight: 300;
}

small,
.text-precision {
  font-family: var(--font-jbn-open-sans);
  font-size: 0.625rem;
  line-height: auto;
  font-weight: 300;
}

.sub-title-sm {
  font-family: var(--font-jbn-open-sans);
  font-size: 0.75rem;
  line-height: auto;
  font-weight: 300;
  letter-spacing: 0.1875em;
  text-transform: uppercase;
}

.sub-title-md {
  font-family: var(--font-jbn-open-sans);
  font-size: 1rem;
  line-height: auto;
  font-weight: 300;
  letter-spacing: 0.1875em;
  text-transform: uppercase;
}
